#navbar {
  display: flex;
  flex-direction: row;
}

#navbar a {
  /* color: #ffffff; */
  margin-right: 20px;
  text-decoration: none;
  transition: color 0.2s ease;
}

#navbar a:hover {
  cursor: pointer;
  /* color: #91a4d2; */
}
#navbar a:visited {
  color: #000;
  cursor: pointer;
  /* color: #91a4d2; */
}
.cybermap-title {
  font-size: 1em !important;
}

.cybermap-title>.m {
  padding-left: 0.1em;
  letter-spacing:-.27em;
  font-size: 1.5em;
  font-style:normal;
  position:relative;
  left:-.15em
}

